@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: #111111;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.no-spacing {
  letter-spacing: normal;
}

.hidden {
  position: relative;
  border: none;
  display: inline-block;
  width: 0px;
  height: 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-weight: 600;
  letter-spacing: 1em;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgb(155, 155, 155);
}